.mainMenu{
	margin-top: 10px;
}

.main-list{
	vertical-align: bottom;
}

#input_form > input[type="number"] ,
#input_form > input[type="text"]{
	width: 80%;
	margin: 10px 10px;
}

#input_form > input[type="submit"]{
	width: 80%;
	margin: 10px 10px;

}

#input_form input.error {
	
	border:10px solid red;
}

footer{
	padding: 15px 0;
	margin-top: 50px; 
	background-color: #ECEFF1;
}


